.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    text-align: left;
}
table {
    width: 100%;
    min-width: 610px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}


thead {
    background-color: var(--color-secondary);
    color: white;
}

.td-options {
    width: 300px !important;
}

.td-id {
    width: 70px !important;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-error{
    border-color: brown;
    background-color: rgba(211, 43, 43, 0.87);
    color: white;
}

.button-edit{
    border-color: rgb(42, 81, 165);
    background-color: rgba(43, 88, 211, 0.87);
    color: white;
}
.button-status{
    padding: 10px 10px !important;
}

.button-back{
    background: transparent !important;
    color: var(--color-primary);
    width: max-content;
    border: none !important;
    font-size: 1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.button-create{
    width: max-content;
    height: max-content !important;
    border-color: rgb(42, 81, 165);
    background-color: rgba(43, 88, 211, 0.87);
    color: white;
    margin-top: 30px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

