{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Metadata SEO -->
    <meta name="description" content="Este es un sitio web de Gyms">
    <meta name="author" content="Gym Plus Ultra">
    <meta name="keywords" content="fitness, precios accesibles, salud, fuerza, ejercicio">

    <title>Home</title>
    <link rel="stylesheet" href="./static/globals.css" />
    <link rel="stylesheet" href="./static/home.css" />
  </head>
  <body>
    <!-- Navigation -->

    <div class="container_welcome">
      <div>
        <h1 class="title">Bienvenido</h1>
        <p class="subtitle">Nunca es tarde para vivir sano</p>
        <button onclick="window.location.href='/tasks'" >Iniciar vida fitness</button>
      </div>
      <img
        src="https://img.freepik.com/foto-gratis/retrato-joven-pareja-deportes-haciendo-ejercicios-cardio-gimnasio-moderno_496169-2714.jpg?t=st=1738867700~exp=1738871300~hmac=2925ca5316c636210cb17f3810964b6ef86bb6d5bfda8540e14adcb518b393d2&w=900"
        alt="image_boku_no_hero"
        class="image"
      />
    </div>
  </body>
</html>


